* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 500;
}

body {
	background: rgba(221, 224, 226, 0.6);
}

#user_reg_top {
	width: 100%;
	height: 120px;
	background: gray;
}

#user_reg_main {
	width: 810px;
	height: 610px;
	margin: 0 auto;
	background: #FFF;
	box-shadow: 10px 0px 20px #999;
}

#user_reg_bottom {
	width: 100%;
	height: 120px;
	background: gray;
}

#user_reg_main .new_user_reg {
	font-size: 18px;
	padding: 15px 0 10px 15px;
	border-bottom: 1px #999 solid;
	margin-bottom:50px;
	font-weight: 600;
}


.new_user_title{
	width:180px;
	height:503px;
	float:left;
	font-size: 18px;
	margin-left:50px;
	/*
	background: pink;
	*/
}
.new_user_title .title{
	width:85%;
	height:36px;
	text-align:right;
	margin:52px 0 0 0;
}
.new_user_input{
	width:320px;
	height:503px;
	float:left;
	/*
	background: gray;
	*/
}
.new_user_input input{
	width:290px;
	height:35px;
	font-size: 16px;
	margin:50px 10px 0 0;
	border:1px #666 solid;
	padding-left:10px;
	background: rgba(222,222,222,0.3);
}
.new_user_input .submit{
	width:200px;
	height:35px;
	color:#FFF;
	font-size: 16px;
	font-weight: 600;
	background:#5B5;
	border:0px;
	cursor:pointer;
	border-radius:15px;
	margin:35px 0 0 60px;
	outline: none;
}
.new_user_input .submit:hover{
	background:#2E2;
}
.new_user_error{
	width:230px;
	height:503px;
	float:left;
	/*
	background: pink;
	*/
}

.new_user_error .err{
	height:25px;
	margin:60px 0 0 0;
	font-size: 18px;
	float:right;
	/*
	background: blue;
	*/
}
.new_user_error .err span{
	font-size:14px;
	height:25px;
	line-height:25px;
	color:#D33;
	margin: -0px 0 0 0;
	padding-left:20px;
}

.new_user_error .err .nameErr{
	padding:0;
	text-align: center;
}
.new_user_error .err .passErr{
	padding:0;
	text-align: center;
}